/*general*/

*{ 
    Box-sizing: border-box; 
}
body{
    background-color:rgb(175,175,175);
}

/*tipografia*/

body{
    text-align: center;
    font-size:18px;
    font-weight:bold;
}
h1{
    font-size:40px;
}
h3{
    font-size:30px;
    color:rgb(0, 0, 0);
}
/*contenido*/

legend{
    background-color:rgba(255, 165, 0,0.4);
}
fieldset{
    margin:20px;
    
}
.tareaIngres{
    width:50%;
    min-height:200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(0, 70, 255);
    background-color:rgb(120,120,120);
}
.tareasPend{
    float: left;
    width:49.7%;
    min-height:250px;
    margin-top: 10px;
    color:rgb(0, 70, 255);
    background-color:rgb(120,120,120);
}
.tareasProg{
    float:right;
    width: 49.7%;
    min-height:250px;
    margin-top: 10px;
    color:rgb(0, 70, 255);
    background-color:rgb(120,120,120);
}
.tareasFin{
    display:inline-block;
    width:52%;
    min-height:150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(0, 70, 255);
    background-color:rgb(120,120,120);
}
