/* General */
:root{
    /* paleta arcoiris */
    --orange-yellow-crayola: #ffd670ff;
    --baby-blue: #70d6ffff;
    --mindaro: #e9ff70ff;
    --french-pink: #ff70a6ff;
    --light-salmon: #ff9770ff;
    
    font-family: 'Ephesis', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Itim', cursive;
}
*{ 
    font-family: 'Handlee', cursive, Ephesis, cursive, Itim, Cursive serif, sans-serif;
    list-style:none;
}
body{
    margin: 0;
    text-align: center;
    font-size:22px;
}
.headerindex{
    border-radius: 0 0 85% 85% / 30%;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.3em;
    background: linear-gradient(to right, var(--orange-yellow-crayola),var(--baby-blue),var(--mindaro),var(--french-pink),var(--light-salmon));
}
.headerindex h1{
    border-radius:30px;
    background-color:#ffffff;
    width: 360px;
}
.mainindex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 50px; 
}
.boxtareas{
    border-radius:30px;
    color:#000000;
    background-color:#ffffff;
    border: 2px solid black;
    margin-top: 50px;;
}
.boxtareas ol{
    display:flex;
    justify-content: space-between;
    margin-right: 25px;
}
.boxtareas li{
    margin: 3px;
}
h3{
    font-size:30px;
    color:rgb(0, 0, 0);
}
.footerindex{
    border-radius:  85% 85% 0 0 / 30%;
    padding: 5px;
    font-size: 1.1em;
    background: linear-gradient(to right, var(--orange-yellow-crayola),var(--baby-blue),var(--mindaro),var(--french-pink),var(--light-salmon));
}
.iconos{
    list-style: none;
}
.iconos li{
    display:inline-block;
    margin: 10px;
}

/* contenido */

legend{
    background-color:rgba(255, 165, 0,0.4);
}
fieldset{
    margin:20px;
}
.tareaIngres{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 15px solid var(--mindaro);
}
.tareasPend{
    border: 15px solid var(--french-pink);
}
.tareasProg{
    border: 15px solid var(--light-salmon);
}
.tareasFin{
    border: 15px solid var(--orange-yellow-crayola);
}

/* RESPOSIVE */

/* Escritorios muy anchos */ 
/* @media (min-width: 1200px) {} */

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) { 
    .mainindex{
        padding: 20px 50px;
    }
    .footerindex{
        margin-top: 35px;
    }
}
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
    .mainindex{
        padding: 3px 50px;
    }
    .footerindex{
        margin-top: 35px;
    }
}
/* Móviles en vertical */
 @media (max-width: 480px) {
    .ocultar{
        display:none;
    }
    .mainindex{
        padding: 3px 50px;
    }
    .footerindex{
        margin-top: 35px;
    }
}